background-color: #807d96;
background-image: url("images/45-degree-fabric-dark.png");
color: white;
.header {
  margin-top: 4rem;
}

.portrait {
  max-width: 90%;
  max-height: 90%;
  height:auto;
}

.groupphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 2rem;
  filter: drop-shadow(4px 4px 4px black);
}
